$backgroundcolor:pink;

body{
    //*background-image: linear-gradient(pink,$color);//
   // #e0a2a0 //;
   //background-repeat: no-repeat;
  // background-size:cover;//
   background-color: #eca0ae ;
   font-family:'Times New Roman', Times, serif ;
}
.logo{
    width: 200px;
    height: 200px;
}
.titulos{
    text-shadow: 2px 2px 5px rgb(252, 247, 249);
}

.imagenes{
    width: 30%;
    height: 30%;
    padding: 20px;
}
.imagenNosotros{
   width: 70%;
   height: auto;
   padding: auto;
}
.imagenesProductos{
    width: 300px;
    height: 300px;
    padding: 15px;
}
.card{
    width: auto;
    margin: auto;
    padding: 20px;
}
.video{
    width: 100%;
    height: 100%;
   
}
.espacio{
    padding: 100px 50px 150px 50px;
}
//footer//
.redes{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 20%;
}
///.movimiento{
    //width: 350px;
   // height: 300px;
    //transition: height 2s, width 1s; }
     
//.movimiento:hover {
    //height: 350px; width: 350px; }

 //contacto//
.form{ 
 width: 50%;
 margin: 0 auto;

}
//.articulo{
   // background-color: $color;}//
.articulo__parrafo{
    font-size: 24px;
}
 
/* .alinear{
text-align:center */

.article{ padding-top: 5%;}//


.section{
    //background-image: url(../imagenes/fondoRosa1.jpg);//
    background-color: #f8b1bb;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; 
    width: 80%;
    margin: 0 auto;
}

.hijo{
    border:2px solid black;
    background-image: linear-gradient($backgroundcolor, rgb(241, 204, 211));
}

//responsive//
@media only screen and (min-width: 768px) {
    body {
           width: 100%;
           height: 100%;
      }
}
@media only screen and (min-width: 1024px) {
    body{
       width: 100%;
        height: 100%;
    }
}

